.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
    background-color: green;

    ul{
        display: flex;
        flex-direction: row;

        li{
            display: flex;
            
            .link{
                color: white;
                text-decoration: none;
                padding: 5px;
            }
        }
    }
}